<% if field.attachments.any? %>
  <div class="yummy-guide-administrate-picture-list">
    <% field.attachments.each do |attachment| %>
      <% preview_url = field.preview_url(attachment, view_context: self) %>
      <% link_url = field.attachment_url(attachment, view_context: self) || preview_url %>
      <div class="yummy-guide-administrate-picture-list__item">
        <% if preview_url.present? %>
          <% if link_url.present? %>
            <%= link_to link_url, title: field.attachment_label(attachment), data: { behavior: "preserve-collection-link" } do %>
              <%= image_tag preview_url, class: "yummy-guide-administrate-picture-list__image" %>
            <% end %>
          <% else %>
            <%= image_tag preview_url, class: "yummy-guide-administrate-picture-list__image" %>
          <% end %>
        <% else %>
          <span><%= field.attachment_label(attachment) %></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  No attachment
<% end %>
